.Aheader {
    color: #000;

    font-feature-settings: 'dlig' on;
    font-family: Jomhuria;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 222px;
    height: 42px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 300px;

}

.button {
    width: 557px;
    height: 89px;
    flex-shrink: 0;
    background: #150303;
    font-size: 26px;
}

.Arrow {
    width: 130px;
    height: 49px;
    flex-shrink: 0;
    margin-left: 50px;

}