.AppointmentMainheader {
    font-weight: bold;
    color: #000;
    float: center;
    text-align: center;
    font-family: Sanchez;
    font-size: 40px;
    font-style: normal;
    flex-shrink: 0;
    margin-left: 150px;
    margin-right: 150px;
}

.AppointmentMainimg1 {
    width: 100%;
    height: 10%;

}

.AppointmentMainQ {
    font-weight: bold;
    margin-top: 3%;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 5%;
}

.AppointmentMainimg2 {
    width: 400px;
    height: 250px;
    float: left;
}

.AppointmentMainperiodic {
    margin-right: 0px;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    font-family: sans-serif;
}

.AppointmentMainimg3 {
    width: 400px;
    height: 250px;
    float: right;
}

.AppointmentMainmechanical {
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

.AppointmentMainimg4 {
    float: left;
    width: 400px;
    height: 250px;
}

.AppointmentMainperiodictButton {
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    width: 300px;
    height: 60px;
    background-color: #000000;
}

.AppointmentMainaccidentButton {
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    width: 300px;
    height: 60px;
    background-color: #000000;
}

.AppointmentMainAccidental {
    margin-right: 0;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

.AppointmentMainMechanicalButton {
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    width: 300px;
    height: 60px;
    background-color: #000000;
}

.AppointmentMaina {
    text-decoration: none;
}