.inventory_h1 {
  text-align: center;
  font-weight: bold;
}
.containerProduct {
  margin-top: 3%;
  max-width: 100%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid;
  border-color: rgb(243, 242, 242);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.welcome {
  color: #00224d;
  font-weight: bold;
  text-decoration: none;
}

.welcome:hover {
  color: #00224d;
  text-decoration: none;
}
.inventory_para1 {
  max-width: 57%;
  font-size: 23px;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 91px;
  padding-left: 12px;
  padding-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: auto;
}

.inventory_h3 {
  margin-top: 5%;
  font-weight: bold;
}
.productcard-container {
  margin-top: 6%;
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}

@media only screen and (max-width: 600px) {
  .inventory_h1 {
    text-align: center;
    font-weight: bold;
  }
  .containerProduct {
    margin-top: 3%;
    max-width: 17%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid;
    border-color: rgb(243, 242, 242);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #cusmain {
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 9%;
  }
  .welcome {
    font-weight: bold;
    text-decoration: none;
  }

  .welcome:hover {
    color: inherit;
    text-decoration: none;
  }
  .inventory_para1 {
    max-width: 30%;
    font-size: 23px;
    background-color: rgb(243, 243, 243);
    padding-top: 40px;
    padding-bottom: 91px;
    padding-left: 12px;
    padding-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
  }
}
