.para1{
    font-size:medium;
    font-weight: 600;
  }
  
  .h5{
    font-weight: 600;
  }
  
  .form-styles{
    text-align: left;
  }
  
  .form-label{
  margin-bottom: 0.5rem;
  font-size:small;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  color:#01050c;
  }
  
  .form-text{
  font-size: smaller;
  font-family: 'Nunito', sans-serif;
  }
  
  .btn-dark{
    font-size: smaller;
    font-weight: 400;
    margin-right: 10px;
  }
  
  .btn-light{
    font-size: smaller;
    font-weight: 400;
    
  }

  .feedbacktitle h1{
    font-size: 28px;
    margin-bottom: 0;
    font-weight: 800;
    color: #01060f;

  }
  