/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}
.card2{
  margin-top:80px;
  background: none;
  margin:48px;
}
.list-group-item{
  font-weight:bold; 
  margin-top:30px;
  border-radius: 5px;
  height: 45px;

}
.btn1{
  float:right;
  height: 30px;
  padding: 4px;
  background-color:black ;
  color:white;
  width:70px;
  border-radius: 5px;
  border:none;
}
.btn1:hover{
  
  background-color:rgb(228, 222, 222) ;
  color:black;
  width:70px;
  border:none;
}
@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
