.container-Product{
  margin-left: 80px;
  border-radius: 7px;
  margin-top:30px;

  max-width: 400px;
}
.product-image{
  width: 385px;
  height: 300px;
}
.product-header {
  text-align: center;
}
.product-name{
  margin-left: 45%;
  font-size: 16px;
}
.price{
  margin-top:10px;
  margin-left: 29%;
  width:100px;
  border: none;
}
.updatebtn{
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  background-color: black;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 35px;
  color:white;
}
.updatebtn:hover ,.delete-btn:hover{
  padding-left: 5px;
  padding-right: 5px;
  border: 0.23px solid;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-right: 40px;
  color:rgb(0, 0, 0);
}
.delete-btn{
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  background-color: black;
  border-radius: 5px;
  margin-left: 130px;
  color:white;
}
.quantity-details{
  margin-top: 10px;
  margin-left: 15px;
}
.product-card-container {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
}