.container-Product{
  margin-left: 80px;
  border-radius: 7px;
  margin-top:30px;

  max-width: 400px;
}
.product-image{
  width: 385px;
  height: 300px;
}
.product-header {
  text-align: center;
}
.product-name{
  margin-left: 45%;
  font-size: 16px;
}
.price{
  margin-top:10px;
  margin-left: 29%;
  width:100px;
  border: none;
}

.quantity-details{
  margin-top: 10px;
  margin-left: 15px;
}
.product-card-container {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
}
.btnqunhandler{
  border:none;
  border-radius: 10px;
  background-color: white;
}
.quantity{
  margin-left:2%;
}
.btnproduct{
  margin-top: 3%;
  margin-left: 32%;
  margin-bottom: 4%;
}