
.SMA-AppMainButtonPageHeading {
    margin-top: 3%;
    color: #000;
    font-feature-settings: 'dlig' on;
    font-family: Jomhuria;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 222px;
    height: 42px;
    flex-shrink: 0;
    margin-left: 33%;
    margin-bottom: 10%;
}

.SMA-SMMainbutton {
    color: white;
    width: 60%;
    height: 100%;
    background: #150303;
    font-size: 35px;
}

.SMA-SMMainArrow {
    width: 10%;
    height: 10%;
    margin-left: 50px;

}
.SMA-SMMainbutton:hover {
    border:solid;
    color: black;
    width: 60%;
    height: 100%;
    background: white;
    font-size: 35px;
}