.div1111 {

    margin-top: 100px;

}

.div2222 {
    margin-top: 40px;
    margin-left: 500px;
}

.AppMainButtonPageHeading {

    color: #000;
    font-feature-settings: 'dlig' on;
    font-family: Jomhuria;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 222px;
    height: 42px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 500px;
}

.SMMainbutton {
    color: white;
    width: 557px;
    height: 89px;
    flex-shrink: 0;
    background: #150303;
    font-size: 26px;
}

.SMMainArrow {
    width: 130px;
    height: 49px;
    flex-shrink: 0;
    margin-left: 50px;

}