#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
  }
.pHeading {
    width: 587px;
    height: 42px;
    flex-shrink: 0;
    color: #000;

    font-feature-settings: 'dlig' on;
    font-family: Jomhuria;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 32.813% */
    margin-top: 140px;
    margin-left: 300px;

}

.table table-bordered {
    margin: 15px;
    border-top: 52px;

}

.ptable {
    margin: 90px;

}
