.hr-image-upload.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hr-image-upload__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.hr-image-upload__preview img {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
}
