/*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/
.cus-header-nav ul {
  list-style: none;
}

.cus-header-nav > ul {
  margin: 0;
  padding: 0;
}

.cus-header-nav .nav-icon {
  font-size: 22px;
  color: white;
  margin-right: 25px;
  position: relative;
}

.cus-header-nav .nav-profile {
  color: white;
}

.cus-header-nav .nav-profile img {
  max-height: 36px;
}

.cus-header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.cus-header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}



.cus-header-nav .cus-profile {
  color:white;
  background-color: #212121;
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.cus-header-nav .cus-profile .cus-dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: white;
}

.cus-header-nav .cus-profile .cus-dropdown-header span {
  font-size: 14px;
}

.cus-header-nav .cus-profile .cus-dropdown-item { 
  color:white;
  background-color: #212121;
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.cus-header-nav .cus-profile .cus-dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.cus-header-nav .cus-profile .cus-dropdown-item:hover {
  color:#212121;
  background-color: white;
}
